﻿span{
    user-select: none;
    letter-spacing: 0.8px;
}

.vl-button-container {
    background: #1890ff;
    border: 2px solid #1890ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    transition: background linear 0.2s, border-color ease-in-out 0.1s;
}

    .vl-button-container:hover {
        cursor: pointer;
        background: #2171a2;
    }

    .vl-button-container:active{
        border-color: #47ebb9;
    }