﻿.auth-form-container {
    min-width: 220px;
    width: 23%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
}

.auth-form-header {
    display: flex;
    margin-bottom: 0.4vw;
    border-bottom: 1px solid #ccc;
    font-weight: 800;
    padding-bottom: 4px;
}

.auth-form-body {

}

.auth-form-body-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.1vw;
}

.auth-form-body-input {
    display: flex;
    flex-direction: column;
}

.auth-from-body-input-box {
    padding-top: 3px;
}