﻿.main-container {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.filtration-header {
    display: flex;
}

.filtration-container {
    display: flex;
    margin-top: 5px;
    background: #89df95;
    justify-content: space-evenly;
    width: 50%;
}

.dx-toolbar-before {
    width: 100%;
    margin-left: -8px;
    margin-top: 5px;
}

.dx-datagrid-search-panel {
    margin: 0px;
}

.main-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}