﻿.button-container {
    display: flex;
    font-family: cursive;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 0px 0px 32px #2f7832;
    max-width: 170px;
    height: 60px;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom: 0px;

    transition: text-shadow 0.2s, border 0.12s;
}

.button-container-selected {
    background: #1890ff;
}


    .button-container:hover {
        text-shadow: 0px 0px 32px #1890ff;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        color: #1248c6;
    }

.button-text {
    color: white;
    font-size: 20px;
    width: 100%;
}